<div class="container-fluid">
    <div class="row" id="main-div">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="https://i.ibb.co/VjDhd4d/foto-Perfil.jpg" alt="Foto Sebastían Javier Montini" class="img-fluid"
                id="aboutBack">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p>Montini Sebastián</p>
            <p>Full Stack Developer Jr.</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mi</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos incidunt amet dicta commodi
                    voluptates ab maiores dolore, iste sapiente eos optio fugit? Quo, dicta sunt esse doloribus id dolor
                    veritatis?</p>
            </span>
        </div>

        <!-- <div class="column3" *ngFor="let per of personas">
            <a href="https://wa.me/{{per.telefono}}" class="whatsapp" target="_blank"><i
                    class="fa-brands fa-whatsapp"></i></a>
        </div> -->
    </div>
</div>